* {
    margin: 0;
}
body {
    display: block;
    background: #968585;
}
.wrapper {
    margin: 0 auto;
    width: 850px;
}
img[Attributes Style] {
    width: 200px;
    height: 120px;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.header {
    width: 840px;
    height: 121px;
    position: relative;
    margin: 0 auto;
    background: #5fc1c5;
}
.left_header {
    width: 140px;
    height: 73px;
    position: absolute;
    top: 20px;
    left: 50px;
}
.mini_header {
    border: 5px solid black;
    width: 100px;
    height: 50px;
}
div#mini_1 {
    position: absolute;
    top: 75px;
    right: 211px;
}
div#mini_2 {
    position: absolute;
    top: 75px;
    right: 105px;
}
div#mini_3 {
    position: absolute;
    top: 75px;
    right: 0px;
}
.button {
    width: 100px;
    height: 34px;
    background: #19ef47;
    float: right;
    display: block;
    border-radius: 50px 0px;
    margin-right: 40px;
    text-align: center;
    font-size: 22px;
}
.content {
    width: 740px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
.left_content {
    border: 10px solid #5ec0d0;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 16px;
    left: -49px;
    background: #5fc1c5;
    border-radius: 15%;
}
p {
    display: block;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 30px;
    -webkit-margin-end: 30px;
    text-align: justify;
    text-indent: 50px;
    word-spacing: 2px;
    font-style: oblique;
    font-family: bold;
}
h2 {
    display: block;
    font-size: 2.0em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: -0.17em;
    -webkit-margin-start: 226px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.right_content {
    border: 10px solid #eccbcb;
    width: 537px;
    height: 350px;
    position: absolute;
    top: 16px;
    right: -48px;
    list-style-type: lower-roman;
    background: rgba(183, 41, 73, 0.12);
}
ul, menu, dir {
    display: block;
    list-style-type: circle;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 55px;
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    text-align: center;
}
.nav {
    width: 740px;
    height: 79px;
    margin: 0 auto;
    position: relative;
}
.mini_nav {
    border: 10px solid black;
    width: 100px;
    height: 102px;
}
div#mini_one {
    position: absolute;
    top: 20px;
    left: 0px;
}
div#mini_two {
    position: absolute;
    top: 20px;
    left: 217px;
}
div#mini_three {
    position: absolute;
    top: 20px;
    right: 217px;
}
div#mini_four {
    position: absolute;
    top: 20px;
    right: 0px;
}
.footer {
    width: 740px;
    height: 79px;
    margin: 0 auto;
    position: relative;
}
.footer_content {
    border: 10px solid black;
    width: 723px;
    height: 82px;
    position: absolute;
    top: 84px;
    left: -1px;
}
.footer {
    width: 740px;
    height: 79px;
    margin: 0 auto;
    position: relative;
}
#bar {
    display: inline;
    text-align: center;
    width: 10px;
    height: 83px;
    margin: -1px;
    margin-top: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    padding: 7px;
}
#bar1 {
    display: inline-block;
    height: 110px;
    width: 186px;
    border: 10px solid black;
    position: relative;
    border-radius: 25%;
    color: red;
    background: rebeccapurple;
}
#bar2 {
    display: inline-block;
    height: 110px;
    width: 186px;
    border: 10px solid black;
    position: relative;
    background: yellow;
    border-radius: 60%;
}
#bar3 {
    display: inline-block;
    height: 110px;
    width: 186px;
    border: 10px solid black;
    position: relative;
    background: red;
    border radius: 15%;
}
#bar4 {
    display: inline-block;
    height: 110px;
    width: 186px;
    border: 10px solid black;
    position: relative;
    background: gold;
    border-radius: 99%;
}
.close {
    position: relative;
    background-color: gainsboro;
    height: 19px;
    width: 21px;
    border-radius: 100%;
    font-family: inherit;
    color: black;
    text-align: center;
    font-size: 13pt;
    border: 1px black solid;
    top: 42px;
    right: 0px;
}
fieldset {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 553px;
    -webkit-padding-before: 1.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 5.75em;
    -webkit-padding-after: 1.625em;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    border-width: 9px;
    border-style: groove;
    border-color: threedface;
    width: 250px;
    margin: 0px;
}
.left_form {
    width: 349px;
    height: 231px;
    position: absolute;
    top: 664px;
    left: 257px;
}
.right_form {
    width: 146px;
    height: 226px;
    position: relative;
    top: -20px;
    right: -680px;
    padding: 41px;
    margin: -2px;
}
textarea {
    font-family: monospace;
    border-color: rgb(169, 169, 169);
}
textarea {
    -webkit-appearance: textarea;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    padding: 2px;
}
textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
.footer_content {
    border: 10px solid #5ec0d0;
    width: 813px;
    height: 69px;
    position: absolute;
    top: 14px;
    left: -47px;
    background: #5fc1c5;
    text-align: center;
    font-size: xx-large;
}
